.navbar-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  background: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  transition: all 0.3s;
  border-radius: 0 0 12px 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
    .navbar-icon {
      width: 134px;
      height: 44px;
      cursor: pointer;
    }
  }
  .navbar-right {
    flex: 2;
    display: flex;
    align-items: center;
    .navbar-menu {
      display: flex;
    }
  }
}

.menu-item {
  position: relative;
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500px;
  font-size: 16px;
}

.submenu {
  width: 100%;
  background-color: #fff;
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  ::before {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    content: "";
    transform: rotate(45deg);
  }
}

.menu-item:hover .submenu {
  display: block;
}

.submenu-item {
  display: block;
  padding: 5px 0;
  cursor: pointer;
}
.submenu-item:hover {
  color: #006efa;
}

.arrow-down {
  margin-left: 5px;
}

.non-hover-menu {
  padding: 0 10px;
}

.login-button {
  background: #006efa;
  border: 1px solid #006efa;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  color: #fff;
  margin-left: 0 !important;
  min-height: 36px;
  padding: 2px 22px;
  font-size: 14px;
  line-height: 1.57;
  color: #fff;
  cursor: pointer;
}
